<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
  <link rel="stylesheet" href="../static/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/fc72a36764.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
</head>
<body>
<header>
  <h1 style = "padding-right: 10px;">My Green</h1>
  <h1 style = "background-color: #2E8B57; color: #FFFFFF; padding: 10px; font-weight: bold; border-radius: 5px;"> Box</h1>
  <div class = "icons">
    <div class = "createnew" style = "position: relative">
      <a>
      <div class = "notBtn">
        <i class="fas fa-plus" style = "margin-right: 0px;" id = "plus" onclick="displayadd()"></i>
          <div class = "addbox" id = "addbox">
            <div class = "display">
              <div class = "cont"><!-- Fold this div and try deleting evrything inbetween -->
                <div class="dot" style = "margin-top: 100px;"></div>
                <form class = "form-container" id ="cabinetForm">
                  <div class = "" style = "margin-top: 150px;">
                    <input type = "text" placeholder = "Cabinet Name" name = "Cabinet" id = "cabinet" style = "text-align: center;" spellcheck = "false" required>
                  </div>
                  <button type = "submit" class = "btn" style = "text-align: center; margin-top: 140px;" onclick = "addMe()" id = "addme">Add Me!</button>
                </form>
              </div>
            </div>
          </div>
      </div>
        </a>
    </div>
    <div class = "notification">
      <a>
      <div class = "notBtn">
        <!--Number supports double digets and automaticly hides itself when there is nothing between divs -->
        <div class = "number">2</div>
        <i class="fas fa-bell" onclick = "displaynotif()" id = "bell"></i>
          <div class = "notifbox" id = "notifbox">
            <div class = "display">
              <div class = "cont"><!-- Fold this div and try deleting evrything inbetween -->
                <div class = "sec new">
                  <a>
                  <div class = "profCont">
                    <img class = "profile" src = "https://c1.staticflickr.com/5/4007/4626436851_5629a97f30_b.jpg">
                  </div>
                  <div class = "txt">James liked your post: "Pure css notification box"</div>
                  <div class = "txt sub">11/7 - 2:30 pm</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
        </a>
    </div>
  </div>
</header>
<div class = "container l-wrap" id = "container">
  <div class="three-col-grid-container" id = "grid">
    {% if cabinets|length > 0 %}
      {% for cabinet in cabinets %}
        <div class = "grid-item fade-in-image card-container" id = "{{ cabinet['cabinet'] }}">
          <div class="grid-inner card" id = "{{ cabinet['cabinet'] }}-grid-inner">
            <div class = "front" id = "{{ cabinet['cabinet'] }}-front">{{ cabinet['cabinet'] }}</div>
            <div class = "back" id = "{{ cabinet['cabinet'] }}-back">
              <i class="fa fa-up-right-and-down-left-from-center" style = "padding: 10px; margin: 10px; top: 0%; right: 35px; position: absolute;" onclick = "maximize(this)" id = "{{ cabinet['cabinet'] }}-maximize"></i>
              <i class="fa fa-xmark" style = "padding: 10px; margin: 10px; top: 0%; right: 0px; position: absolute;" onclick = "deleteCabinet(this)" id = "{{ cabinet['cabinet'] }}-maximize"></i>              
              <div>{{ cabinet['temp'] }}&#176F</div>
              <div>{{ cabinet['humid'] }}%</div>
              <!-- <div>Cabinet Created On: {{ cabinet['createdAt'] }}</div> -->
            </div>

          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  </div>
</div>
</div>
<script src="{{url_for('static', filename='js/index.js')}}"></script>     
</body>
</html>